.detalle-titulo {
    display: flex;
    align-items: center;
}
.escudo-detail{
    width: 200px;
    height: 135px;
}
.detalle-jugadores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.posiciones{
    font-size: 38px;
    margin: 0px;
}