.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 50px 0px;
}

.logo {
    font-size: 48px;
    font-weight: 900;
    margin: 0px 50px 0px 12px;
    color: white;
}

nav {
    background-color: white;
    border-radius: 40px;
    width: 100%;
}

.navbar-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.total-cart {
    background-color: red;
    color: white;
    padding: 5px 8px 5px 8px;
    border-radius: 99px;
    margin-left: 10px;
}